<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carrier database API</title>
    <link rel="stylesheet" href="/css/101996-api.css" />
    <link rel="stylesheet" href="/css/101997-crt-upd.css" />
    <link rel="stylesheet" href="/css/102871-det.css" />
    <link rel="stylesheet" href="/css/103998-tab.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body id="main-wrapper">
    <div class="go-back">
        <a href="/connections"><p>powrót</p></a>
        <div class="clock-comp" id="clock-component"></div>
    </div>

    <h1>API bazy danych <i class="carrier-adnotation">przewoźnik</i></h1>
    <h6>nowe połączenie</h6>

    <br>
    
    <div class="connection-wrapper">
        <form class="create-connection" id="create-connection" method="POST" action="/create-connection" autocomplete="off">
            
            <div id="origin">
                <input type="search" list="stations" class="select-input" id="station-search-0" name="origin" placeholder="początek trasy" required>
                <datalist id="stations">
                    <% stationsList.forEach(station => { %> 
                    <option value="<%= station.name %>"> <%= station.s_id + " --- " + station.name %> </option>
                    <% }) %>
                </datalist>
                <div id="departure-date" style="margin-top: 10px;">
                    <label>godzina odjazdu</label>
                    <input type="time" class="time-connection" id="time0" name="departure" value="12:00" required><br>
                    <label>peron | tor&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&nbsp;
                        <input type="text" class="platform-track-connection" id="platform0" name="departurePlatform" maxlength="5"> /
                        <input type="text" class="platform-track-connection" id="track0" style="margin-left: 0; width: 49px" name="departureTrack" maxlength="5" >
                    </label>
                </div>
            </div>

            <div id="destination">
                <input type="search" list="stations" class="select-input" id="station-search-0" name="destination" placeholder="koniec trasy" required>
                <datalist id="stations">
                    <% stationsList.forEach(station => { %> 
                    <option value="<%= station.name %>"> <%= station.s_id + " --- " + station.name %> </option>
                    <% }) %>
                </datalist>
                <div id="arrival-date" style="margin-top: 10px;">
                    <label>godzina przyjazdu</label>
                    <input type="time" class="time-connection" id="time1" name="arrival" value="12:00" required><br>
                    <label>peron | tor&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&nbsp;&nbsp;&nbsp;
                        <input type="text" class="platform-track-connection" id="platform1" name="arrivalPlatform" maxlength="5">   /
                        <input type="text" class="platform-track-connection" id="track1" style="margin-left: 0; width: 49px" name="arrivalTrack" maxlength="5" >
                    </label>
                </div>
            </div>

            <div style="margin-left: 0">
                <span style="display: inline">
                    <select class="select-input service-connection" id="service0" name="service" style="width: 180px">
                        <option value="">rodzaj połączenia</option>
                        <option value="EIP">EIP</option>
                        <option value="EIC">EIC</option>
                        <option value="IC">IC</option>
                        <option value="TLK">TLK</option>
                        <option value="ZKA">ZKA</option>
                    </select>
                    <span>
                        <input type="checkbox" value="EZT" name="serviceEZT" style="margin: 0">
                        <span style="font-size: 0.5rem">EZT</span><span style="font-size: 0.20rem"><i>IKONY INFORMACYJNE</i></span>
                    </span>
                </span><br>
                    <input type="text" class="service-text-connection" id="service1" name="serviceNumber" style="width: 180px" placeholder="nr pociągu" required>
                    <input type="text" class="service-text-connection" id="service1" name="serviceSpecialNumber" style="margin-left: 0; width: 130px" placeholder="(opc) UIC">
                    <input type="text" class="service-text-connection" id="service2" name="serviceName"  style="width: 320px" placeholder="(opc) nazwa">
                </span>
            </div>

            <div id="via-entries">
                <div id="single-via">
                    <% for(var i = 0; i < 10; i++ ) { %>
                        <span>
                            <input type="search" list="stations" class="select-input" id="station-via-<%= i %>" name="via<%= i %>" placeholder="wybierz stację pośrednią (<%= i %>)">
                            <datalist id="stations">
                                <% stationsList.forEach(station => { %> 
                                <option value="<%= station.name %>"> <%= station.s_id + " --- " + station.name %> </option>
                                <% }) %>
                            </datalist>
                            &nbsp;<input type="time" class="time-connection time-via" id="station-via-Atime<%= i %>" name="viaATime<%= i %>">
                            &nbsp;<input type="time" class="time-connection time-via" id="station-via-time<%= i %>" name="viaTime<%= i %>">
                            &nbsp;<input type="text" class="platform-track-connection" id="platform<%= i %>" name="viaP<%= i %>" 
                                         style="margin: 0; height: 28px; width: 50px; font-size: 0.4rem" maxlength="6" placeholder="p / tor">

                        </span>
                    <% } %><br>
                    <span>
                        <button type="button" class="add-via-entry" id="expand-via-40" style="margin-left: 10px" ><i class="fa-solid fa-plus"></i></button>
                        <label id="additional-add-info" style="margin-left: 5px">rozwinięcie do (maksymalnie) 40 stacji pośrednich (+)</label>   
                    </span>
                </div>
            </div>

            <div class="day-input-without-cal" id="service-days">
                <label><b>kursowanie - dni tygodnia</b></label><br>
                <fieldset class="weekday-select" data-name="serviceDays" id="days" aria-required="true">
                    <div class="days">
                        <label>
                            <input type="checkbox" value="1" name="days"> Poniedziałek
                        </label>
                        <label>
                            <input type="checkbox" value="2" name="days"> Wtorek
                        </label>
                        <label>
                            <input type="checkbox" value="3" name="days"> Środa
                        </label>
                        <label>
                            <input type="checkbox" value="4" name="days"> Czwartek
                        </label>
                        <label>
                            <input type="checkbox" value="5" name="days"> Piątek
                        </label>
                        <label>
                            <input type="checkbox" value="6" name="days"> Sobota
                        </label>
                        <label>
                            <input type="checkbox" value="7" name="days"> Niedziela
                        </label>
                    </div>
                </fieldset>
  
            </div>

            <div class="day-input-without-cal" id="out-of-service-days">
                <label><b>kursowanie - brak kursu</b></label><br>
                <textarea name="outOfServiceDays" form="create-connection"></textarea>
                <span>< dd.mm, dd.mm | dd.mm-dd.mm ></span>
                
            </div>

            <div class="day-input-without-cal" id="amenities">
                <label><b>udogodnienia - cechy specjalne</b></label><br>
                <fieldset class="amenities-select" data-name="amenities" id="amenities">
                    <div class="amenities">
                        <label>
                            <input type="checkbox" value="UWAGA! brak możliwości zakupu biletu u konduktora" name="amenities"> 
                            brak możliwości zakupu biletu u konduktora
                        </label>
                        <label>
                            <input type="checkbox" value="wagon gastronomiczny" name="amenities"> 
                            wagon gastronomiczny
                        </label>
                        <label>
                            <input type="checkbox" value="sprzedaż napojów i przekąsek z wózka minibar (na wybranych odcinkach)" name="amenities"> 
                            sprzedaż napojów i przekąsek z wózka minibar (na wybranych odcinkach)
                        </label>
                        <label>
                            <input type="checkbox" value="wagon z miejscami do leżenia" name="amenities"> 
                            wagon z miejscami do leżenia
                        </label>
                        <label>
                            <input type="checkbox" value="wagon sypialny" name="amenities"> 
                            wagon sypialny
                        </label>
                        <label>
                            <input type="checkbox" value="przewóz rowerów - l. miejsc ograniczona" name="amenities"> 
                            przewóz rowerów - l. miejsc ograniczona
                        </label>
                        <label>
                            <input type="checkbox" value="rezerwacja miejsc" name="amenities"> 
                            rezerwacja miejsc
                        </label>
                        <label>
                            <input type="checkbox" value="klimatyzacja" name="amenities"> 
                            klimatyzacja
                        </label>
                        <label>
                            <input type="checkbox" value="wagon rodzinny z przedziałem dla dzieci" name="amenities"> 
                            wagon rodzinny z przedziałem dla dzieci
                        </label>
                        <label>
                            <input type="checkbox" value="wagon dla osób niepełnosprawnych z platformą" name="amenities"> 
                            wagon dla osób niepełnosprawnych z platformą
                        </label>
                        <label>
                            <input type="checkbox" value="miejsca dla osób z dziećmi do lat 6" name="amenities"> 
                            miejsca dla osób z dziećmi do lat 6
                        </label>
                        <label>
                            <input type="checkbox" value="przewóz przesyłek konduktorskich" name="amenities"> 
                            przewóz przesyłek konduktorskich
                        </label>
                        <label>
                            <input type="checkbox" value="wagon z oznaczeniami w alfabecie Braille`a" name="amenities"> 
                            wagon z oznaczeniami w alfabecie Braille`a
                        </label>
                        <label>
                            <input type="checkbox" value="tylko 2 kl." name="amenities"> 
                            tylko 2 kl.
                        </label>
                        <label>
                            <input type="checkbox" value="pociąg z elektrycznych zespołów trakcyjnych (EZT)" name="amenities"> 
                            pociąg zestawiony z elektrycznych zespołów trakcyjnych (EZT)
                        </label>
                        <label>
                            <input type="checkbox" value="Wifi" name="amenities"> 
                            Wifi
                        </label>
                        <label>
                            <input type="checkbox" value="wydzielona Strefa Ciszy" name="amenities"> 
                            wydzielona Strefa Ciszy
                        </label>
                    </div>
                </fieldset>
  
            </div>

            <div class="day-input-without-cal" id="przydzial">
                <label><b>przydział składu</b></label><br>
            </div>
            
            <div style="display: grid; place-content: center end"><input type="submit" class="accept-button" style="margin-right: 20px" value="utwórz" /></div>
        </form>

    </div>

    <div style="height: 80px"></div>

    <script type="text/javascript" src="/script/1001-create-connection.js" ></script>
    <script type="text/javascript" src="/script/9972-hour.js" ></script>
</body>
</html>